.card__phrase {
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.1rem;
    color: white;
    font-style: italic;

}
/* agregrar comillas tanto al primcipio como al final del texto */
.card__phrase::after{
    content: '"';
}
.card__phrase::before{
    content: '"';
}